<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WFFM8.To.SQL.Properties.Settings.BoConcept_Website_Upgrade_WebformsConnectionString"
            connectionString="Data Source=aharb\SQL2012;Initial Catalog=WFFMSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>